/* Reglas generales */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}
img{ max-width: 100%; }
body{
    margin: 0em;
    background-color: #00082C;
    font-family: "Open Sans", sans-serif;
    color: white; }

/* Textos */
h1{ font-size: 2.5em; }
h2{ 
    font-size: 1.8em;
    font-weight: 100; }
h3{ font-size: 1em;}
p{ font-size: 1.4em;}

/* Botones */
button{
    font-size: 1.8em;
    font-weight: bold;
    padding: 17px 30px;
    color: black;
    background-color: white;
    border: none; }

button:hover{ background-color: #1A9FDA; }

.container{
    max-width: 1400px;
    margin: auto; }

/* Header */
header{
    background-color: black;
    flex-direction: column;
    align-items: center; }
header img { width: 50px; }

/* Logo */
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5px; }

/* Menú hamburguesa */
#menu-hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 1.5em;
    z-index: 1002;
}
#menu-hamburguesa span {
    display: block;
    width: 2em;
    height: 5px;
    background-color: #05b4ff;
    transition: all 0.3s ease;
}
#menu-hamburguesa.open span {
    background-color: black;
}

#menu-hamburguesa.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
#menu-hamburguesa.open span:nth-child(2) {
    opacity: 0;
}
#menu-hamburguesa.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
#nav-menu {
    display: none;
    flex-direction: column;
    background-color: #05b4ff;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
#nav-menu.open {
    display: flex;
}
#nav-menu ul {
    list-style-type: none;
    padding: 0;
    z-index: 1001;
}
#nav-menu ul li {
    padding: 1em;
    padding-left: 3em;
    text-align: left;
}
#nav-menu ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
}
#nav-menu ul li a:hover {
    color: #ffffff;
    font-weight: bold;
}
nav a {
    padding: 5px;
    font-size: 18px;
}
.menu-toggle {
    font-size: 3rem;
}
nav.menu-active {
    padding-top: 2rem;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%; }

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; }

footer p {
    margin: 0.5rem 0;
    font-size: 0.6em; }

footer a {
    color: #fff;
    text-decoration: none; }

footer a:hover { text-decoration: underline; }

/* Inicio */
#inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }

#inicio h1{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 1; }

#inicio h2{
    font-size: 20px;
    text-align: center;
    margin-top: 20px; }

#inicio img{ width: 100%; }

#inicio button{
    margin-top: 120px;
    margin-bottom: 200px;
    font-size: 18px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px; }

/* Sobre nosotros */
#sobre_nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; }

#sobre_nosotros h1{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px; }

#sobre_nosotros h2{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    font-weight: 100; }

#sobre_nosotros button {
    font-size: 18px;
    padding: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 100px; }

.img_sobre_nosotros {
    text-align: center;
    margin-top: 30px; 
    position: relative; }

.img_sobre_nosotros img {
    max-width: 100%;
    height: auto; }

    #texto_experiencia{
        margin-left: 30px;
        margin-right: 30px; }
    
    #texto_experiencia h3{
        padding-top: 100px;
        font-size: 12px;
        font-weight: 100;
        text-align: left; }
    
    #texto_experiencia h1{
        font-size: 33px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 60px; }
    
    #experiencia {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 100px }
    
    #experiencia h3,
    #experiencia h1,
    #experiencia ul,
    #experiencia .img_cliente_1,
    #experiencia .img_cliente_2,
    #experiencia .img_cliente_3 {
        padding: 4px; }
    
    #experiencia img {
        max-width: 100%;
        height: auto; }
    
    #experiencia ul{
        font-size: 18px;
        font-weight: 100;
        text-align: left; }
    
    
    #texto_experiencia{
        margin-left: 30px;
        margin-right: 30px; }
    
    #texto_experiencia h3{
        padding-top: 100px;
        font-size: 12px;
        font-weight: 100;
        text-align: left; }
    
    #texto_experiencia h1{
        font-size: 33px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 60px; }
    
    #experiencia {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 100px }
    
    #experiencia h3,
    #experiencia h1,
    #experiencia ul,
    #experiencia .img_cliente_1,
    #experiencia .img_cliente_2,
    #experiencia .img_cliente_3 {
        padding: 4px; }
    
    #experiencia img {
        max-width: 100%;
        height: auto; }
    
    #experiencia ul{
        font-size: 18px;
        font-weight: 100;
        text-align: left; }


/* Servicios */
#servicios{
    background-color: white;
    color: black;
    text-align: center; }

#servicios h1{
    padding-top: 20px;
    font-size: 30px; }

#servicios h3{
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: 100; }

.wrapper{
    padding: 0 10%;
    padding-bottom: 100px; }
#card_area{
    padding: 1px 0;
    background-color: white;
    margin-bottom: 100px;
    position: relative;
    z-index: 1000; }
.box_area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px; }
.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5); }
.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s; }
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #05b4ff 50%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s; }

.overlay h2{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 80%;
    font-size: 30px; }

.overlay p{
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px; }

.boxLhover img{ transform: scale(1.2); }

.box:hover .overlay{ height: 100%; }

/* Industria */
#industria{
    background-color: white;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px; }

#industria video{
    margin-top: 20px;
    width: 100%; }

#industria h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 100;
    color: black; }

#industria h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: black; }

#industria h2{
    font-size: 17px;
    color: black;
    margin-bottom: 50px; }

/* Contacto */
#contacto {
    background-color: white;
    color: black;
    font-size: 9px;
}

#contacto img {
    width: 100%;
}

#contacto h1 {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 17px;
}

#content_form body {
    background: #ffffff;
    color: black;
    line-height: 1.6;
    padding: 0 1.5em;
    font-size: 10px;
}

#content_form container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

#content_form ul {
    list-style: none;
    padding: 0;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: white;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: black;
    border-bottom: 1px solid #000000;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
    color: rgba(0, 0, 0, 0.6); 
}

.contact-form form button {
    background: #1A9FDA;
    border: 0;
    padding: 1em;
    font-size: 15px;
    color: white;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: black;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* Responsive */
/* TABLET */
@media only screen and (min-width: 601px) {
    
 /* Tablet - Header */
 header {
    flex-direction: row;
    justify-content: space-between; }

header img {
    width: 100px;
    margin-right: 620px; }
#menu-hamburguesa {
    height: 40px;
    margin-right: 60px;
    margin-top: 15px; }
#menu-hamburguesa span {
    display: block;
    width: 60px;
    height: 10px;
    background-color: #05b4ff; }
#nav-menu ul li a { font-size: 36px; }

#nav-menu {
    left: 12em;}

/* Tablet - Footer */
footer p { font-size: 15px; }

/* Tablet - Inicio */
#inicio h1{
    font-size: 50px;
    margin-top: 20px; }

#inicio h2{
    font-size: 30px;
    text-align: center;
    margin-top: 40px; }

#inicio img{ width: 1024px; }

#inicio button{
    margin-top: 50px;
    font-size: 25px; 
    margin-bottom: 520px; }
   
/* Tablet - Sobre nosotros */
#sobre_nosotros{
    margin-left: 60px;
    margin-right: 60px; }

#sobre_nosotros h1{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 320px; }

#sobre_nosotros h2{
    font-size: 24px;
    font-weight: 100; }

#sobre_nosotros button {
    position: absolute;
    top: 37%;
    margin-top: 0;
    z-index: 1;
    font-size: 25px;
    margin-top: 60px;
}

.img_sobre_nosotros {
    margin-top: 180px;
    margin-right: 120px;
}
}

#texto_experiencia {
    margin-left: 30px;
    margin-right: 30px;
}

#texto_experiencia h3 {
    padding-top: 100px;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-left: 30px;
}

#texto_experiencia h1 {
    font-size: 80px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 60px;
    margin-left: 30px;
}

#experiencia {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 0; 
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.img_cliente_1, .img_cliente_2, .img_cliente_3 {
    padding: 0;
}

.img_cliente_1 img, .img_cliente_2 img, .img_cliente_3 img {
    max-width: 100%;
    height: auto;
}

.img_cliente_3 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}

.img_cliente_2 {
    grid-column: 1;
    grid-row: 2;
}

.img_cliente_1 {
    grid-column: 2; 
    grid-row: 1 / 3;
    width: 100%;
}

#experiencia {
    margin-left: 30px;
    margin-right: 10px;
}

/* Tablet - Servicios */
#servicios h1{
    padding-top: 50px;
    font-size: 43px; }

#servicios h3{ font-size: 20px; }

.boxLhover img{ transform: scale(1.2); }

.box:hover .overlay{ height: 100%; }

.box_area {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 160px; }

.overlay h2 { font-size: 30px; }

.overlay p { font-size: 16px; }

/* Tablet - Industria */
#industria{
    background-color: white;
    padding-bottom: 200px;
    padding-left: 40px;
    padding-right: 40px; }

#industria h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px; }

#industria h1{
    font-size: 40px;
    margin-bottom: 20px; }

#industria h2{ font-size: 24px; }

#industria video{ margin-top: 50px; }

/* Tablet - Contacto */
#contacto { font-size: 17px; }

#contacto img { width: 1024px; 
                margin-bottom: 30px;}

#contacto h1 {
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 25px; }

#content_form container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }

#content_form ul {
    list-style: none;
    padding: 0; }

.contact-wrapper > * { padding: 1em; }

.contact-form { background: white; }

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr; }

.contact-form form label { display: block; }

.contact-form form p {
    margin: 0;
    padding: 1em; }

.contact-form form .block { grid-column: 1 / 3; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #000000;
    border-bottom: 1px solid #000000; }

.contact-form form button {
    background: #1A9FDA;
    border: 0;
    padding: 51px;
    font-size: 30px;
    margin-top: 10px; }

/* DESKTOP */
@media only screen and (min-width: 1300px) {
/* Header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header img {
    width: 80px; 
    margin: 0 20px 0 0;
}

#menu-hamburguesa {
    display: none;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    background-color: transparent;
    align-items: center;
}

#nav-menu ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 550px;
}

#nav-menu ul li {
    padding: 0 1em;
    text-align: center;
    display: flex;
    align-items: center;
}

#nav-menu ul li a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

/* Desktop - Inicio */
#inicio {
    margin: 0;
    padding: 0;
}

#inicio h1 {
    font-size: 50px;
    margin-bottom: 20px; 
}

#inicio img {
    width: 100%;
    margin: 0; 
    clip-path: inset(0 0 50% 0);
}

#inicio button{
    font-size: 20px;

}

/* Desktop - Sobre nosotros */
#sobre_nosotros {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    text-align: left;
    margin: 20px;
    gap: 30px;
}

#sobre_nosotros .texto {
    flex: 1; 
    padding: 20px; 
}

#sobre_nosotros h1 {
    font-size: 30px;
}

#sobre_nosotros h2 {
    font-size: 18px;
    padding-right: 100px;
}

#sobre_nosotros button {
    font-size: 20px;
}

.img_sobre_nosotros {
    flex: 1;
    text-align: center;
}

.img_sobre_nosotros img {
    max-width: 100$;
    height: auto;
}






}


/* 
Si llegaste hasta acá...
¡GRACIAS!
Te ganaste un café :)
*/